<header class="jumbotron hero-spacer" style="background-image: url(<%=asset_path('pizza2.jpg')%>);  background-size: cover; background-position-y: 27%;background-repeat: no-repeat;">
	<div style="background-color: rgba(0,0,0,0.1);width: 86%;">
			<h1 style="display: inline-block; color: white">Welcome to <h1 style="display: inline-block; color: orange">&nbsp;food for thought</h1>
		</div>
	    </h1>

	    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=<%=ENV['SLACK_KEY']%>&redirect_uri=https://foodforthought-app.herokuapp.com/slack/auth"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
	 

</header>

<a href="<%=signin_path%>"><div height = "30" weight = "30"></div></a>


<!-- <a href="https://slack.com/oauth/authorize?scope=<%=@scopes%>&client_id=<%=ENV['SLACK_KEY']%>&redirect_uri=https://foodforthought-app.herokuapp.com/slack/auth"><img src="https://api.slack.com/img/sign_in_with_slack.png"></a>
 -->
