<div class="panel panel-default col-md-12">

	<div class="col-md-4">
		<h1><%=@user.full_name%></h1>
		<img src="<%=@user.profile_picture%>" height="300" width="300"><br>
		<h4>Username: <%= @user.username%></h4>
		<h4>Email: <%= @user.email%></h4>
		<div class="col-md-6">
			<%= button_to "Edit personal info", edit_user_path(@user), method: :get, class: "btn btn-primary"%>
		</div>
		<div class="col-md-6">
			<%= button_to "Create new post", new_post_path, method: :get, class: "btn btn-primary"%><br><br>
		</div>
	</div>

	<div class="col-md-4">
		<div>
			<h3>Your posts</h3>
			<% @user.posts.each do |post|%>
				<p><%= link_to post.title, post_path(post)%> | Status: <%=post.status%></p>
			<% end %>
		</div>
		<div >
			<h3>Pending offers</h3>
			<% @user.offers.each do |offer|%>
				<p><%= link_to offer.post.title, post_path(offer.post)%></p>
			<% end %>
		</div>
	</div>

	<div class="col-md-4">
		<h3>Teaching Sessions</h3>
		<% @user.tutor_reservations.each do |reservation|%>
			<p><%= link_to reservation.post.title, post_path(reservation.post)%> | On: <%=reservation.time.strftime("%m/%d/%Y")%></p>
			<%= form_for reservation, url: reservation_path(reservation), method: :delete do |f|%>
		<%= f.button "Cancel reservation with #{reservation.student.first_name}"%>
			<% end %>
		<% end %>

		<br>

		<h3>Learning Sessions</h3>
		<% @user.student_reservations.each do |reservation|%>
			
			<p><%= link_to reservation.post.title, post_path(reservation.post)%> | On: <%=reservation.time.strftime("%m/%d/%Y")%></p>
			<%= form_for reservation, url: reservation_path(reservation), method: :delete do |f|%>
				<%= f.button "Cancel reservation with #{reservation.tutor.first_name}"%>
			<% end %>
		<% end %>
	</div>
</div>