<%=flash[:message]%>

        <header class="jumbotron hero-spacer" style="background-image: url(<%=asset_path('pizza2.jpg')%>);  background-size: cover; background-position-y: 27%;background-repeat: no-repeat;">
                <h1 style="display: inline-block; color: white">Help is here!</h1>
                <p style="color: white ">Get started with a new post!</p>

                <p><%= link_to "New post", new_post_path, class: "btn btn-primary btn-large"%></p>
        </header>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="d-inline" >All Posts</h3>
            <div class="pull-right">
                <div class="d-inline">filter by topics:
                </div>
                <div class="d-inline"><%= form_tag filter_path do %>
                    <%= select_tag "topics", options_from_collection_for_select(@topics, "name", "name") %>
                    <%= submit_tag 'search', class: 'btn btn-info' %>
                <% end %>
                </div>
            </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

        	<% @posts.each do |post|%>
				<% unless post.status != "open"%>
		            <div class="col-md-3 col-sm-6 hero-feature">
		                <div class="thumbnail">
                           <% if STOCK_PHOTOS.include?(post.picture_path)%>
                                <img src="<%= asset_path(post.picture_path)%>" alt="">
                            <% else %>
		                        <img src="<%= post.picture_path%>" alt="">
                            <% end %> 
		                    <div class="caption">
		                        <h4><%= link_to post.title, post_path(post)%></h4>
		                        <p><%= post.description[0..15] + "..."%></p>
		                            <%= form_for post, url: offers_path, :html => {class: 'd-inline'} ,method: :post do |f|%>
										<%= f.button "Offer help", name: :post_id, class: "btn btn-primary", value: post.id, data: {confirm: "Are you sure you want to offer help?"}%>
									<% end %>
		                            <a href="<%=post_path(post)%>" class="btn btn-default">More info</a>
		                    </div>
		                </div>
		            </div>
	          	<% end %>
	        <% end %>