<h1>Posts</h1>

<%=flash[:message]%>
<% @posts.each do |post|%>
	<% unless post.status != "open"%>
		<h4><%= link_to post.title, post_path(post)%></h4>
		<p>Student: <%= post.student.full_name%></p>
		<p>Length: <%= post.length%></p>
		<p>Compensation: <%= post.compensation%></p>

	<% end %>

	<br>
<% end %>


<a href=“https://slack.com/oauth/authorize?scope=identity.basic&client_id=your_client_id“><img src=“https://api.slack.com/img/sign_in_with_slack.png” /></a>