<h1><%= @post.title%></h1>
<p>Description: <%= @post.description %></p>
<p>Student: <%= @post.student.full_name%></p>
<p>Length: <%= @post.length%></p>
<p>Compensation: <%= @post.compensation%></p>



