<!DOCTYPE html>

<master branch>


<html>
  <head>
    <title>FoodForThought</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
    <nav class="container navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= posts_path%>"><img id="logoOnHeader" class="animated fadeInUp"src="<%= asset_path('FFT_logo.png') %>" width="50" style="position: absolute;top: -1px;left: 25px;"><span style="position: relative;left: 47px;">food for thought</span></a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <%if logged_in?%>
            <li><a href="<%= new_post_path %>">New Post&nbsp;<i class="fa fa-plus fa-inverse"></i></a></li>
            
            <li class="dropdown">
              <img src="<%=current_user.small_picture%>" height="42" width="42" class="img-circle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret" style="color: white"></span></a>
              <ul class="dropdown-menu">
                   <li><%= (link_to "My dashboard", user_path(current_user))%></li>
                   <li><a href="#"></a></li>
                   
                
                <li><a href="#">My posts</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
              </ul>
            </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>
    </header>
    <body id="body" onload="fadeIn()" style="display: none">
    <div class="container animated fadeIn">
      <%= yield %>
        
      </div>

  <div class="container">
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Food For Thought LLC 2017</p>
            </div>
        </div>
    </footer>
  </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </body>
<script>
function fadeIn() {
  document.getElementById('body').style = "display: block"
}
  
</script>

</html>
